/*==============
**** VARIABLES ****
==============*/
/*==============
**** FONT ****
==============*/
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*==============
**** BASE ****
==============*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #001635;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/*==============
**** HEADER ****
==============*/
.header {
  min-height: 100vh;
  background: url("../assets/slider.png") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
}

.header__list-contain {
  display: flex;
}
.header__list-contain .header__list-link {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header__slider {
  height: 100vh;
  width: 25%;
  min-width: 250px;
  background: #001635;
  position: absolute;
  z-index: -1;
  top: 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__logo {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo .header__logo-img {
  width: 30px;
}
.header__logo .header__logo-text {
  color: #fff;
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(76%, -3vw);
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.header__text:before {
  content: "";
  display: inline-block;
  position: inherit;
  width: 4px;
  top: 10px;
  left: -25px;
  height: 100%;
  background: #fff;
  font-weight: 700;
}

.header__slider-triad {
  font-size: calc(8vw + 1rem);
}

.header__slider-soft {
  font-size: calc(8vw + 1rem);
}

.title--stroke {
  color: transparent;
}

.title--stoke-white {
  -webkit-text-stroke: 0.5px #fff;
  -moz-text-stroke: 0.5px #fff;
}

.title--stoke-blue {
  -webkit-text-stroke: 0.5px #57CBCC;
  -moz-text-stroke: 0.5px #57CBCC;
}

.header__slider-link {
  color: #fff;
  width: 50%;
  max-width: 200px;
  padding: 8px 0;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-top: 20px;
}

.header__redes {
  align-self: flex-end;
  margin: 25px;
}
.header__redes .header__icon {
  margin: 0 15px;
  font-size: 25px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .header__text {
    transform: translate(76%, -10vw);
  }
  .header__text .header__slider-triad, .header__text .header__slider-soft {
    font-size: calc(10vw + 1rem);
  }
}
/*======================
**** NUESTROS SERVICIOS ****
======================*/
.services {
  margin-top: 45px;
}

.section--title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 35px 0;
}

.services__title-serv {
  border-bottom: 1px solid #57CBCC;
}

.services__paragraph {
  width: 95%;
  max-width: 370px;
  color: #8D99AE;
  margin: 25px auto 0;
  text-align: center;
}

.services__hexagon-contain {
  width: 60%;
  max-width: 950px;
  margin: 25px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services__contain {
  display: flex;
  justify-content: center;
  position: relative;
}
.services__contain:nth-child(2) {
  transform: translate(0, -40px);
}
.services__contain:nth-child(3) {
  transform: translate(0, -80px);
}
.services__contain:hover {
  z-index: 10;
}

.services__list-item {
  width: 190px;
  height: 190px;
  color: #57CBCC;
  background: #9A9A9A;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clip-path: polygon(0 78%, 0 22%, 50% 0, 100% 22%, 100% 78%, 50% 100%);
  overflow: hidden;
}
.services__list-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  clip-path: polygon(0% 78%, 0% 22%, 50% 0, 100% 22%, 100% 78%, 50% 100%);
  background: #001635;
  width: 188px;
  height: 188px;
  transition: width 0.5s ease, height 0.5s ease, background 0.5s ease;
}
.services__list-item:hover {
  transform: scale(1.3);
  z-index: 1000;
  background: #F2AF02;
}
.services__list-item:hover:before {
  width: 170px;
  height: 170px;
}
.services__list-item:hover .services__list-span {
  opacity: 1;
  position: relative;
  transition: opacity 0.5s ease;
}

.services__list-span {
  width: 95%;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  opacity: 0;
  position: absolute;
  padding: 5px 10px;
}

.works {
  position: absolute;
  width: 100%;
  height: 840px;
  left: 0px;
  top: 2054px;
  background: #353B43;
}

.works__title {
  position: absolute;
  width: 562px;
  height: 59px;
  left: 384px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  color: #FFFFFF;
}

.works__separator {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 393px;
  top: 120px;
  border: 1px solid #FFF0F0;
}

/*# sourceMappingURL=styles.css.map */
